In [2]:
import pandas as pd

**Read File CSV**

In [ ]:
# Parametros pueden ser nombre del archivo o la ruta con el nombre del archivo
pd.read_csv ("filename.csv")
pd.read_csv("c:/Users/chanukya/Desktop/test1.csv")

**Write File CSV**

In [ ]:
# De DataFrame a archivo CSV
# parametros igual puede ser la nueva ruta con el nombre del archivo
df.to_csv('file_name.csv')

# Exportar archivo sin indexaci√≥n 
df.to_csv('file_name.csv', index-False)

# Ejemplo de lectura y escritura de un csv

In [3]:
exam_scores = pd.read_csv("data/exam_scores.csv")

## Sape 
**number of rows, number of columns**

In [4]:
# 1000 rows and 8 columns i.e 8000 entries.
exam_scores.shape

(1000, 8)

## Head

In [7]:
exam_scores.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group B,bachelor's degree,standard,none,74,68,67
1,female,group C,some college,standard,completed,58,68,66
2,male,group C,some college,free/reduced,none,66,65,65

## Tail

In [8]:
exam_scores.tail(4)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
996,female,group E,some college,standard,none,98,81,94
997,female,group E,associate's degree,free/reduced,none,67,67,67
998,female,group C,high school,standard,none,63,68,70
999,male,group C,some college,free/reduced,none,49,57,50

## dtypes

In [9]:
exam_scores.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

## Info

In [10]:
exam_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB